.browser-not-supported {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

.browser-not-supported__logo {
    width: 200px;
    margin-right: 20px;
}

.browser-not-supported__content {
    margin-top: 24px;
    padding: 24px 30px;
}